h1{
	text-align:center;
	font-size: 74px;
}

h4{
	font-size: 42px;
	text-align:center;
}

h5{
	text-align:center;
}

input{
	height:36px;
	width: 40%;
	border-radius: 4px;
}

.btn{
	height: 60px;
	width: 120px;
	margin-top: 10px;
	font-size: 20px;
}

.description{
	width: 500px;
}
